.header.panel, .page-header {
    background-color: #fff !important;
}

.header .links,
.header .panel > .header .links > li > a,
.link .authorization-link {
    color: #000;
}

.header .content {
    width: 100%;
    padding: 30px;
}

.minicart-wrapper .action.showcart:before{
    color: #000;
    transition: 0.2s;
}

#search {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-size: 12pt;
    border-bottom: solid 1.5px #000;
    transition: 0.35s;
}

#search:focus{
    border: solid 1.5px #000;
    transition: 0.35s;
}
