<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MyVendor_HelloWorld::custom_menu_id" title="Custom Menu" module="MyVendor_HelloWorld" sortOrder="10" action="custom_admin_id/adminhtml/custom_menu" resource="MyVendor_HelloWorld::menu_id"/>
    </menu>
</config>
